@def zIndexGeneric 15000;

.gwt-PopupPanel {
  z-index: zIndexGeneric;
}

.gwt-PopupDialog {
  z-index: zIndexGeneric;
}

.text-asterisk {
  font-weight: bold;
  fill: rgb(182, 16, 111);
  font-size: 1.5em;
}
